body {
  top: 0;
  left: 0;
  background-color: #622648;
  background-image: url(img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.homelink {
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(255, 162, 0);
  border: none;
  margin-left: -150px;
  margin-top: 600px
}

.homelink a {
  color: aliceblue;
}

.card {
  height: 800px;
  width: 600px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #1a242f;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  animation: glow 1s ease infinite alternate;
  background-image: url(img2.png);
  background-size: cover;
  background-clip: content-box;
  background-blend-mode: soft-light;
}
.card span{
-webkit-animation-play-state: paused;
  width: 90%;
    display: block;
    text-wrap: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  color: yellow;
animation: scroll 10s ease infinite alternate;
} 

@keyframes glow {
  0% {
    box-shadow: 10px 10px 20px rgba(233, 14, 29, 0.696);
  }

  100% {
    box-shadow: 10px 10px 20px rgba(255, 175, 2, 0.855);
  }

}

@keyframes scroll {
0% {
      transform:translateY(0);
display: hidden;
   }
   100% {
      transform:translateY(-100%);
   }
}

